<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start" >
  		<ion-button routerLink="/tabs/menu/tag"><ion-icon name="arrow-dropleft"></ion-icon>返回</ion-button>
    </ion-buttons>
    <ion-title>味型模板</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list class="tag-detail-page">
	  <ion-item>
	  	<ion-label fixed>名称：</ion-label>
	    <ion-input type="text" placeholder="请输入名称" [(ngModel)]="tagObj.tagName"></ion-input>
	  </ion-item>
	  <div style="padding: 16px;">
	  	<div>
	  		<label>味型多选：</label>
	  	</div>
	  	<div class="tag-group-content">
	  		<ion-input type="text" placeholder="请输入组名" [(ngModel)]="tagObj.tagOther.groupName"></ion-input>
	    	<ion-textarea class="tag-group-texarea" placeholder="请输入组味型" [(ngModel)]="tagObj.tagOther.groupType"></ion-textarea>
	  	</div>
	  </div>
	  <div style="padding: 16px;">
	  	<div>
	  		<label>味型单选组：</label>
	  		<ion-button (click)="addTagGroup()" fill="clear" class="tag-group-add" ><ion-icon name="add-circle" size="default"></ion-icon></ion-button>
	  	</div>
	  	<div class="tag-group-content" *ngFor='let tagGroupRow of tagObj.tagGroup'>
	  		<ion-input type="text" placeholder="请输入组名" [(ngModel)]="tagGroupRow.groupName"></ion-input>
	    	<ion-textarea class="tag-group-texarea" placeholder="请输入组味型" [(ngModel)]="tagGroupRow.groupType"></ion-textarea>
	  	</div>
	  </div>
	  <div class="container">
		  <div class="button-wrapper">
		    <ion-button size="large" type="submit" (click)="save()">保存</ion-button>
	  		<ion-button size="large" type="button" routerLink="/tabs/menu/tag">取消</ion-button>
		  </div>
		</div>
	</ion-list>
</ion-content>
