<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="book"></ion-icon>
      <ion-label>订单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>菜单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="balance">
      <ion-icon name="logo-yen"></ion-icon>
      <ion-label>统计</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="member">
      <ion-icon name="person"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
