.grid-data {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.guest-search div{
	height: 30px;
}

.guest-search .input {
	width: 200px;
}

