<ion-header>
  <ion-toolbar>
    <ion-title>历史订单</ion-title>
    <ion-button slot="end" (click)="presentPop($event)">订单状态</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ng-container *ngFor="let order of orderData">
		<ion-card>
			<ion-item><h2>桌号：{{order.tableNum}}</h2></ion-item>
			<ion-item lines="none">小计：{{order.subtotal}}</ion-item>
			<ion-item lines="none">状态：{{orderStatusList[order.status]}}</ion-item>
			<ion-item lines="none">交易号：{{order.tradeNo}}</ion-item>
			<ion-item lines="none">时间：{{order.createdAt}}</ion-item>
			<div style="padding: 0 16px;">
				<span style="height: 20px; display: block; float: left; margin: 2px 5px;" *ngFor='let menu of order.detail'>
					{{menu.menuName}}:{{menu.num}}
				</span>
			</div>
			<ion-item lines="none">备注：{{order.remarks}}</ion-item>
		</ion-card>
	</ng-container>
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadOrderData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
